<!DOCTYPE html>

<head>
    <title>Success! </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="header">
            <p>Please wait 3 seconds while we create your profile.</p>
    </div>

</body>

<script>
    window.onload = setTimeout(function() { 
        localStorage.setItem('register', "{{user}}"); 
        window.location.href = '/'},3000);
   
</script>